.navbar {
    width: 1600px;
    background-color: rgb(99, 86, 86);
    height: 55px;
    
}   
.jumbotrone{
    width: 1600px;
    background-color: lightgray;
    height: 800px;
    
}
.jumbotroneButton1 {
    position: absolute;
    width: 100px;
    background-color: lightskyblue;
    height: 40px;    
    top: 600px;
    left: 250px;
}
.jumbotroneButton2 {
    position: absolute;
    width: 100px;
    background-color: lightskyblue;
    height: 40px;
    top: 600px;
    left: 400px;
}
.informationsPage {
    background-color: lightgray;
    width: 1600px;
    height: 1000px;
}
.informations {
    margin: 0 50px;
    background-color: lemonchiffon;
    width: 1500px;
    height: 900px;
    left: 50px;
    }
.info0 {
    background-color: lightgray;
    width: 1600px;
    height: 600px;
}

.info1 {
    float: left;
    background-color: lemonchiffon;
    width: 500px;
    height: 95%;
    margin-left: 50px;    
}
.info {  
    float: left;
    background-color: lemonchiffon;
    width: 500px;
    height: 95%;
    margin-left: 1px;
  }